[Unit]
Description=Run Sukka keep-alive every 2 minutes

[Timer]
OnBootSec=45s
OnUnitActiveSec=2min
AccuracySec=15s
Persistent=true
Unit=sukka-watchdog.service

[Install]
WantedBy=timers.target
